<!DOCTYPE html>
<html>

<head>
    <title><%=name %></title>
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/O2aKM2iSbOw.png" rel="apple-touch-icon-precomposed" sizes="196x196"
    />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
    <link rel="stylesheet" type="text/css" data-bootloader-hash="9JMY+" href="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/l/0,cross/GJGhmVEFNPL.css"
    />
    <link rel="stylesheet" type="text/css" data-bootloader-hash="UhWGv" href="https://static.xx.fbcdn.net/rsrc.php/v3/y1/l/0,cross/hX1a3QBmrMC.css"
    />
    <link rel="stylesheet" type="text/css" data-bootloader-hash="smOWX" href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/l/0,cross/4kP5zc0nAff.css"
    />
    <link rel="stylesheet" type="text/css" data-bootloader-hash="jcIkV" href="https://static.xx.fbcdn.net/rsrc.php/v3/yf/l/0,cross/rtkFTl9otEs.css"
    />
    <link rel="stylesheet" type="text/css" data-bootloader-hash="M7dHs" href="https://static.xx.fbcdn.net/rsrc.php/v3/yr/l/0,cross/O-Umh9I6DU6.css"
    />
    <link rel="shortcut icon" href="/assets/message.ico" />

    <script>
        var CONVERSION_ID = <%=conversion_id%>;
        var COUNT_NOTIFICATION = 0;
        var USER = "<%=user%>";
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/JS/chatControl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/JS/socketControl.js"></script>
    <script src="/messenger/sdk.js"></script>
</head>

<body tabindex="0" class="touch x1 _fzu _50-3 acw">
        <div id="viewport">
        <h1 style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">Facebook</h1>
        <div id="page" class="">
            <div class="_129_" id="header-notices"></div>
            <div class="_129- _6dr5">
                <div class="_52z5 _451a _3qet _17gp" id="header" data-sigil="MTopBlueBarHeader">
                    <div class="_4g33 _52we" id="mJewelNav">
                        <div class="_4g34">
                            <div class="_59te jewel _hzb noCount" data-store="&#123;&quot;tab&quot;:&quot;messages&quot;,&quot;tabID&quot;:217974574879787&#125;"
                                id="messages_jewel" data-sigil="nav-popover messages">
                                <a accesskey="3" href="/conversion" class="_19no touchable" data-store="&#123;&quot;behavior&quot;:&quot;custom&quot;&#125;"
                                    id="u_0_k" data-sigil="icon">
                                    <span style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">Tin nhắn</span>
                                    <div class="_2ftp _62ta">
                                        <div class="_59tf _2ftq">
                                            <span class="_59tg" data-sigil="count" id="count_notification">0</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="flyout popover_hidden" role="complementary" id="messages_flyout" data-sigil="flyout">
                                    <div data-sigil="flyout-content context-layer-root">
                                        <header class="_52je _52jb _52jh _4g33 _52we _2pi8 _2pi4">
                                            <div class="_4g34">
                                                <span data-sigil="messages_jewel_header_text">Tin nhắn (2)</span>
                                            </div>
                                            <div class="_5s61">
                                                <a class="button touchable no-outline" role="button" href="#" aria-label="So&#x1ea1;n tin nh&#x1eaf;n"
                                                    rel="dialog" data-store="&#123;&quot;dialogURI&quot;:&quot;\/messages\/compose\/dialog\/&quot;&#125;"
                                                    id="u_0_l" data-sigil="dialog-link">
                                                    <span class="_5r0s _5r0v img">
                                                        <i class="_5r0t _4q9b img sp_tJegJD1uC_U sx_3d5273"></i>
                                                        <i class="_5r0u _4q9b img sp_tJegJD1uC_U sx_e86f3f"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </header>
                                        <ol class="_7k7 inner" id="u_0_e" data-sigil="contents messages-flyout-loading">
                                            <li class="acw apl" data-sigil="marea">
                                                <div style="text-align:center;">
                                                    <div class="_2so _2sq _2ss img _50cg" data-animtype="1" id="u_0_f" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="_imu"></div>
                                </div>
                            </div>
                        </div>
                        <div class="_4g34">
                            <div class="_59te jewel _hzb noCount" data-store="&#123;&quot;tab&quot;:&quot;requests&quot;,&quot;tabID&quot;:122818001061574&#125;"
                                id="requests_jewel" data-sigil="nav-popover requests">
                                <a href="/conversion/group" accesskey="2" class="_19no touchable" data-store="&#123;&quot;behavior&quot;:&quot;custom&quot;&#125;"
                                    id="u_0_i" data-sigil="icon">
                                    <span style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">LỜI MỜI KẾT BẠN</span>
                                    <div class="_2ftp _62ta">
                                        <div class="_59tf _2ftq">
                                            <span class="_59tg" data-sigil="count" id="gorupNotifycation">0</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="flyout popover_hidden" role="complementary" id="reqs_flyout" data-sigil="flyout flyout">
                                    <div data-sigil="flyout-content context-layer-root">
                                        <header class="_52jh _4g33 _52we _5lm6" data-sigil="header">
                                            <div class="_4g34">LỜI MỜI KẾT BẠN</div>
                                            <div class="_5s61">
                                                <a class="button touchable no-outline" role="button" href="/findfriends/browser/?fb_ref=jwl&amp;refid=12"
                                                    aria-label="T&#xec;m b&#x1ea1;n b&#xe8;" id="u_0_j">
                                                    <i class="img sp_tJegJD1uC_U sx_943035"></i>
                                                </a>
                                            </div>
                                        </header>
                                        <ol class="_7k7 inner" id="mJewelRequestsFlyoutBody" data-sigil="contents requests-flyout-loading">
                                            <li class="acw apl" data-sigil="marea">
                                                <div style="text-align:center;">
                                                    <div class="_2so _2sq _2ss img _50cg" data-animtype="1" id="u_0_d" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="_imu"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="m:chrome:schedulable-graph-search"></div>
            <div class="acw" id="root" role="main" data-sigil="context-layer-root content-pane">
                <div>
                    <div class="_55wr _4g33 _52we _44qk">
                        <div class="_4g34">
                            <div class="_52jh"> <%= name  %></div>
                            <span class="fbLastActiveTimestamp mfss fcg"></span>
                        </div>
                        <% if(type==2){ %>
                            <div>
                                <a href="/grouplop/<%=conversion_id%>" target="_blank">Link FB</a>
                            </div>
                        <% } %>

                    </div>
                </div>
                <div id="messageGroup">
                    <div>

                        <% for(var message of messages) {%>
                            <% if(message.type=="text"){ %>
                                <div class="voice acw abt">
                                    <div class="_4g33">
                                        <div class="_4g34">
                                            <div class="ib">
                                                <a class="darkTouch l" aria-hidden="true">
                                                    <i class="img profpic" aria-label=" <%= message.name   %> " role="img" style="background:#d8dce6 url(<%= message.avatar   %>) no-repeat center;background-size:100% 100%;-webkit-background-size:100% 100%;width:40px;height:40px;"
                                                        data-sigil="touchable"></i>
                                                </a>
                                                <div class="c">
                                                    <div class="msg">
                                                        <a class="actor-link" data-sigil="actor-link">
                                                            <strong class="actor"><%= message.name   %></strong>
                                                        </a>
                                                        <br />
                                                        <div class="" data-sigil="message-text">
                                                            <span><%= message.content  %> </span>
                                                            <div class="messageAttachments"></div>
                                                        </div>
                                                        <span data-sigil="message-body"></span>
                                                    </div>
                                                    <div class="actions mfss fcg" data-sigil="action-list">
                                                        <abbr data-store="&#123;&quot;time&quot;:1534727660,&quot;short&quot;:false,&quot;forceseconds&quot;:false&#125;"
                                                            data-sigil="timestamp"><%= message.time  %></abbr>
                                                        <span aria-hidden="true"> · </span>
                                                        <span data-sigil="message-source"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_5s61"></div>
                                    </div>
                                </div>
                            <% }  else if(message.type=="stick") { %>
                                <div class="voice acw abt" id="mid.$cAAEYmA1Z7XxrhxXlF1lVdCGMEyWO" data-sigil="message-xhp marea">
                                    <div class="_4g33">
                                        <div class="_4g34">
                                            <div class="ib">
                                                <a class="darkTouch l" href="#" aria-hidden="true">
                                                    <i class="img profpic" aria-label="<%= message.name   %>" role="img" style="background:#d8dce6 url(<%= message.avatar   %>) no-repeat center;background-size:100% 100%;-webkit-background-size:100% 100%;width:40px;height:40px;"
                                                        data-sigil="touchable"></i>
                                                </a>
                                                <div class="c">
                                                    <div class="msg">
                                                        <a href="#" class="actor-link" data-sigil="actor-link">
                                                            <strong class="actor"><%= message.name   %></strong>
                                                        </a>
                                                        <br />
                                                        <div class="" data-store="&#123;&quot;timestamp&quot;:1534743059735,&quot;author&quot;:354510898380660,&quot;uuid&quot;:&quot;mid.$cAAEYmA1Z7XxrhxXlF1lVdCGMEyWO&quot;&#125;"
                                                            data-sigil="message-text">
                                                            <span></span>
                                                            <div class="messageAttachments">
                                                                <img src="<%= message.content   %>"
                                                                    class="img" alt="Happy, smiling face" />
                                                            </div>
                                                        </div>
                                                        <span data-sigil="message-body"></span>
                                                    </div>
                                                    <div class="actions mfss fcg" data-sigil="action-list">
                                                        <abbr data-store="&#123;&quot;time&quot;:1534743059,&quot;short&quot;:false,&quot;forceseconds&quot;:false&#125;"
                                                            data-sigil="timestamp"><%= message.time %></abbr>
                                                        <span aria-hidden="true"> · </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_5s61"></div>
                                    </div>
                                </div>
                            <% } else if(message.type=="image") { %>
                                <div class="voice acw abt" id="mid.$cAAEYmA1Z7XxrhxYwQVlVdDQ8hx8a" data-sigil="message-xhp marea">
                                    <div class="_4g33">
                                        <div class="_4g34">
                                            <div class="ib">
                                                <a class="darkTouch l" href="#" aria-hidden="true">
                                                    <i class="img profpic" aria-label="<%= message.name   %>" role="img" style="background:#d8dce6 url(<%= message.avatar   %>) no-repeat center;background-size:100% 100%;-webkit-background-size:100% 100%;width:40px;height:40px;"
                                                        data-sigil="touchable"></i>
                                                </a>
                                                <div class="c">
                                                    <div class="msg">
                                                        <a href="#" class="actor-link" data-sigil="actor-link">
                                                            <strong class="actor"><%= message.name   %></strong>
                                                        </a>
                                                        <br />
                                                        <div class="" data-store="&#123;&quot;timestamp&quot;:1534743078977,&quot;author&quot;:354510898380660,&quot;uuid&quot;:&quot;mid.$cAAEYmA1Z7XxrhxYwQVlVdDQ8hx8a&quot;&#125;"
                                                            data-sigil="message-text">
                                                            <span></span>
                                                            <div class="messageAttachments">
                                                                <a href="#">
                                                                    <img src="<%= message.content   %>"
                                                                        width="250" class="_675 img" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <span data-sigil="message-body"></span>
                                                    </div>
                                                    <div class="actions mfss fcg" data-sigil="action-list">
                                                        <abbr data-store="&#123;&quot;time&quot;:1534743078,&quot;short&quot;:false,&quot;forceseconds&quot;:false&#125;"
                                                            data-sigil="timestamp"><%= message.time   %></abbr>
                                                        <span aria-hidden="true"> · </span>
                                                        <span data-sigil="message-source"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_5s61"></div>
                                    </div>
                                </div>

                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div id="message-reply-composer" class="_50h1">
                    <div class="async_composer" data-sigil="m-messaging-composer-container">
                        <div class="_55wr _3eqx post_placeholder" id="post_placeholder">
                            <span class="img _55ym _55yq _55yo" role="progressbar" aria-valuetext="&#x110;ang t&#x1ea3;i..."
                                aria-valuemin="0" aria-valuemax="100" aria-busy="true"></span>
                        </div>
                        <div class="acw apm" id="typingIndicator" style="display:none" data-sigil="marea">
                            <div class="ib">
                                <i class="l img sp_T5RuMNh13JZ sx_ea2366"></i>
                                <div class="c">Thuong Nguyen Van đang nhập ...</div>
                            </div>
                        </div>
                        <div id="messaging_compose_error"></div>
                        <div class="_55wr acr apm abb" style="display:none" data-sigil="m-messaging-error-message marea">
                            <span class="mfsm">
                                <div class="lr">
                                    <div>Gửi tin nhắn không thành công</div>
                                    <div class="clear"></div>
                                </div>
                            </span>
                        </div>
                        <form method="post" class="_3ci_" id="u_0_1" onsubmit="return window.MAjaxify&amp;&amp;MAjaxify.form(event,this,&quot;async_elem&quot;,&quot;pageload&quot;,null,false,undefined,&quot;&quot;);"
                            data-sigil="m-messaging-composer">
                            <input type="hidden" name="fb_dtsg" value="AQHDzUv_W14I:AQH0bXKCMd4n" autocomplete="off" />
                            <input type="hidden" name="jazoest" value="2658172681228511895874952735865817248988875677710052110"
                                autocomplete="off" />
                            <input type="hidden" name="tids" value="cid.c.100008539148808:354510898380660" />
                            <input type="hidden" name="wwwupp" value="C3" />
                            <input type="hidden" name="ids[354510898380660]" value="354510898380660" />
                            <div class="_5aqv acw" data-sigil="marea">
                                <div id="u_0_3"></div>
                                <div class="_4g33">
                                    <div class="_5s61 _5eco" id="u_0_5">
                                        <div class="_5aqw"></div>
                                    </div>
                                    <div class="_5s61 _5eco">
                                        <div class="_51s9">
                                            <a class="_5ecn" rel="ignore" role="button" aria-label="Th&#xea;m &#x1ea3;nh">
                                                <div class="_5aqx"></div>
                                                <div class="_51sa">
                                                    <input type="file" class="_51sb" name="photo" id="u_0_2" accept="image/*"
                                                        data-sigil="m-raw-file-input" />
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_4g34 _52cq">
                                        <textarea class="_5whq input _52t1" id="composerInput" placeholder="Vi&#x1ebf;t tin nh&#x1eaf;n..."
                                            name="body" rows="2" data-sigil="m-textarea-input photo-textarea"></textarea>
                                    </div>
                                    <div class="_5s61">
                                        <button type="button" value="G&#x1eed;i" class="_5y14 _52cp btn btnC mfss touchable"
                                            name="send" id="u_0_66" data-sigil="m-messaging-button">Gửi</button>
                                        <button type="submit" value="Tr&#x1ea3; l&#x1edd;i" class="_527y btn btnC mfss touchable iconOnly"
                                            name="like" aria-label="Tr&#x1ea3; l&#x1edd;i" id="u_0_7">
                                            <i class="img sp_T5RuMNh13JZ sx_04c7b1" style="margin-top: 4px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="u_0_8"></div>
                        </form>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="viewportArea _2v9s" style="display:none" id="u_0_r" data-sigil="marea">
                <div class="_5vsg" id="u_0_s"></div>
                <div class="_5vsh" id="u_0_t"></div>
                <div class="_5v5d fcg">
                    <div class="_2so _2sq _2ss img _50cg" data-animtype="1" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>Đang tải...</div>
            </div>
        </div>
    </div>
    <div id="static_templates">
        <div class="mDialog" id="modalDialog" style="display:none">
            <div class="_52z5 _451a mFuturePageHeader _1uh1 firstStep titled" id="mDialogHeader">
                <div class="_4g33 _52we">
                    <div class="_5s61">
                        <div class="_52z7">
                            <button type="submit" value="H&#x1ee7;y" class="cancelButton btn btnD bgb mfss touchable" id="u_0_v"
                                data-sigil="dialog-cancel-button">Hủy</button>
                            <button type="submit" value="Quay l&#x1ea1;i" class="backButton btn btnI bgb mfss touchable iconOnly"
                                aria-label="Quay l&#x1ea1;i" id="u_0_w" data-sigil="dialog-back-button">
                                <i class="img sp_CQSzurLWSoi sx_a37ff0" style="margin-top: 2px;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="_4g34">
                        <div class="_52z6">
                            <div class="_50l4 mfsl fcw" id="m-future-page-header-title" data-sigil="m-dialog-header-title dialog-title">Đang tải...</div>
                        </div>
                    </div>
                    <div class="_5s61">
                        <div class="_52z8" id="modalDialogHeaderButtons"></div>
                    </div>
                </div>
            </div>
            <div class="modalDialogView" id="modalDialogView"></div>
            <div class="_5v5d _5v5e fcg" id="dialogSpinner">
                <div class="_2so _2sq _2ss img _50cg" data-animtype="1" id="u_0_u" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>Đang tải...</div>
        </div>
    </div>
    </body>

</html>